:root{
    --ColorOne: #D0EDF5;
    --ColorTwo: #C0C0C0;
    --ColorThree: #E4EFDE;
    --ColorFour: #EBEBEB;
    --ColorFive: ;
    --ColorSix: ;
    --ColorSeven: ;
    --ColorEight: ;
    --ColorNine: ;
    --ColorTen: ;
    --ColorElev: ;
    --ColorTwel: ;
    --ColorThirtn: ;
    --ColorFourtn: ;
    --ColorFiftn: ;
}